---
http_interactions:
- request:
    method: get
    uri: https://flyingboytesting.freshdesk.com/api/v2/solutions/articles/35000002296
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MVNsUEgzZWtUQUhpb3QyZDFNajpY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Ratelimit-Remaining:
      - '4963'
      X-Ratelimit-Total:
      - '5000'
      X-Ratelimit-Used-Currentrequest:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"id":35000002296,"type":1,"category_id":35000018943,"folder_id":35000028485,"thumbs_up":0,"thumbs_down":0,"hits":0,"tags":[],"seo_data":{"meta_title":"","meta_description":"","meta_keywords":""},"agent_id":35000446719,"title":"How
        to do something?","description":"<p>This is a testing article</p>","description_text":"
        This is a testing article ","status":2,"attachments":[],"created_at":"2017-09-26T04:45:01Z","updated_at":"2017-09-26T04:45:01Z"}'
  recorded_at: Tue, 26 Sep 2017 04:47:24 GMT
recorded_with: VCR 3.0.3
