---
http_interactions:
- request:
    method: post
    uri: https://roomduck.freshdesk.com/api/v2/tickets
    body:
      encoding: UTF-8
      string: '{"description":"Details about the issue...","subject":"TEST::Support
        Needed...","priority":1,"status":2}'
    headers:
      Authorization:
      - Basic Vk1vT1RVZXl2ell4d0hNSEhvNkg6WA==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Ratelimit-Remaining:
      - '984'
      X-Ratelimit-Total:
      - '1000'
      X-Ratelimit-Used-Currentrequest:
      - '1'
    body:
      encoding: UTF-8
      string: '{"description":"Validation failed","errors":[{"field":"requester_id","message":"Please
        fill at least 1 of requester_id, phone, email, twitter_id, facebook_id fields","code":"missing_field"}]}'
  recorded_at: Thu, 24 Aug 2017 20:44:52 GMT
recorded_with: VCR 3.0.3
