---
http_interactions:
- request:
    method: post
    uri: https://flyingboytesting.freshdesk.com/api/v2/tickets
    body:
      encoding: UTF-8
      string: '{"description":"Details about the issue...","subject":"TEST::Support
        Needed...","email":"test@test.com","priority":1,"status":2}'
    headers:
      Authorization:
      - Basic MVNsUEgzZWtUQUhpb3QyZDFNajpY
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://flyingboytesting.freshdesk.com/api/v2/tickets/4
      Status:
      - 201 Created
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Ratelimit-Remaining:
      - '4960'
      X-Ratelimit-Total:
      - '5000'
      X-Ratelimit-Used-Currentrequest:
      - '1'
    body:
      encoding: UTF-8
      string: '{"cc_emails":[],"fwd_emails":[],"reply_cc_emails":[],"fr_escalated":false,"spam":false,"email_config_id":null,"group_id":null,"priority":1,"requester_id":35000446801,"responder_id":null,"source":2,"company_id":null,"status":2,"subject":"TEST::Support
        Needed...","to_emails":null,"product_id":null,"id":4,"type":null,"due_by":"2017-09-28T21:00:00Z","fr_due_by":"2017-09-26T21:00:00Z","is_escalated":false,"description":"<div>Details
        about the issue...</div>","description_text":"Details about the issue...","custom_fields":{},"created_at":"2017-09-26T04:47:31Z","updated_at":"2017-09-26T04:47:31Z","tags":[],"attachments":[]}'
  recorded_at: Tue, 26 Sep 2017 04:47:31 GMT
recorded_with: VCR 3.0.3
