---
http_interactions:
- request:
    method: get
    uri: https://roomduck.freshdesk.com/api/v2/tickets?email=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Vk1vT1RVZXl2ell4d0hNSEhvNkg6WA==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Ratelimit-Remaining:
      - '973'
      X-Ratelimit-Total:
      - '1000'
      X-Ratelimit-Used-Currentrequest:
      - '1'
    body:
      encoding: UTF-8
      string: '{"description":"Validation failed","errors":[{"field":"email","message":"There
        is no contact matching the given email","code":"invalid_value"}]}'
  recorded_at: Sat, 26 Aug 2017 07:18:33 GMT
recorded_with: VCR 3.0.3
