---
http_interactions:
- request:
    method: get
    uri: https://flyingboytesting.freshdesk.com/api/v2/tickets?email=test@test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MVNsUEgzZWtUQUhpb3QyZDFNajpY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Ratelimit-Remaining:
      - '4958'
      X-Ratelimit-Total:
      - '5000'
      X-Ratelimit-Used-Currentrequest:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"cc_emails":[],"fwd_emails":[],"reply_cc_emails":[],"fr_escalated":false,"spam":false,"email_config_id":null,"group_id":null,"priority":1,"requester_id":35000446801,"responder_id":null,"source":2,"company_id":null,"status":2,"subject":"TEST::Support
        Needed...","to_emails":null,"product_id":null,"id":4,"type":null,"due_by":"2017-09-28T21:00:00Z","fr_due_by":"2017-09-26T21:00:00Z","is_escalated":false,"description":"<div>Details
        about the issue...</div>","description_text":"Details about the issue...","custom_fields":{},"created_at":"2017-09-26T04:47:31Z","updated_at":"2017-09-26T04:47:31Z"},{"cc_emails":[],"fwd_emails":[],"reply_cc_emails":[],"fr_escalated":false,"spam":false,"email_config_id":null,"group_id":null,"priority":1,"requester_id":35000446801,"responder_id":null,"source":2,"company_id":null,"status":2,"subject":"TEST::Support
        Needed...","to_emails":null,"product_id":null,"id":3,"type":null,"due_by":"2017-09-28T21:00:00Z","fr_due_by":"2017-09-26T21:00:00Z","is_escalated":false,"description":"<div>Details
        about the issue...</div>","description_text":"Details about the issue...","custom_fields":{},"created_at":"2017-09-26T04:45:59Z","updated_at":"2017-09-26T04:45:59Z"},{"cc_emails":[],"fwd_emails":[],"reply_cc_emails":[],"fr_escalated":false,"spam":false,"email_config_id":null,"group_id":null,"priority":1,"requester_id":35000446801,"responder_id":null,"source":2,"company_id":null,"status":2,"subject":"TEST::Support
        Needed...","to_emails":null,"product_id":null,"id":2,"type":null,"due_by":"2017-09-28T21:00:00Z","fr_due_by":"2017-09-26T21:00:00Z","is_escalated":false,"description":"<div>Details
        about the issue...</div>","description_text":"Details about the issue...","custom_fields":{},"created_at":"2017-09-26T04:42:35Z","updated_at":"2017-09-26T04:42:35Z"}]'
  recorded_at: Tue, 26 Sep 2017 04:47:35 GMT
recorded_with: VCR 3.0.3
