---
http_interactions:
- request:
    method: get
    uri: https://roomduck.freshdesk.com/api/v2/tickets?email=test@test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Vk1vT1RVZXl2ell4d0hNSEhvNkg6WA==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Ratelimit-Remaining:
      - '975'
      X-Ratelimit-Total:
      - '1000'
      X-Ratelimit-Used-Currentrequest:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"cc_emails":[],"fwd_emails":[],"reply_cc_emails":[],"fr_escalated":false,"spam":false,"email_config_id":null,"group_id":null,"priority":1,"requester_id":27001375907,"responder_id":null,"source":2,"company_id":null,"status":2,"subject":"TEST::Support
        Needed...","to_emails":null,"product_id":null,"id":13,"type":null,"due_by":"2017-08-27T20:34:09Z","fr_due_by":"2017-08-25T20:34:09Z","is_escalated":false,"description":"<div>Details
        about the issue...</div>","description_text":"Details about the issue...","custom_fields":{},"created_at":"2017-08-24T20:34:09Z","updated_at":"2017-08-24T20:34:09Z"},{"cc_emails":[],"fwd_emails":[],"reply_cc_emails":[],"fr_escalated":false,"spam":false,"email_config_id":null,"group_id":null,"priority":1,"requester_id":27001375907,"responder_id":null,"source":2,"company_id":null,"status":2,"subject":"TEST::Support
        Needed...","to_emails":null,"product_id":null,"id":12,"type":null,"due_by":"2017-08-27T20:33:01Z","fr_due_by":"2017-08-25T20:33:01Z","is_escalated":false,"description":"<div>Details
        about the issue...</div>","description_text":"Details about the issue...","custom_fields":{},"created_at":"2017-08-24T20:33:01Z","updated_at":"2017-08-24T20:33:01Z"}]'
  recorded_at: Sat, 26 Aug 2017 07:18:29 GMT
recorded_with: VCR 3.0.3
