---
http_interactions:
- request:
    method: get
    uri: https://flyingboytesting.freshdesk.com/api/v2/tickets?email=no_ticket@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MVNsUEgzZWtUQUhpb3QyZDFNajpY
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Total:
      - '5000'
      X-Ratelimit-Used-Currentrequest:
      - '1'
    body:
      encoding: UTF-8
      string: '{"description":"Validation failed","errors":[{"field":"email","message":"There
        is no contact matching the given email","code":"invalid_value"}]}'
  recorded_at: Tue, 26 Sep 2017 04:47:37 GMT
recorded_with: VCR 3.0.3
