---
http_interactions:
- request:
    method: get
    uri: https://flyingboytesting.freshdesk.com/api/v2/solutions/categories/35000018943/folders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MVNsUEgzZWtUQUhpb3QyZDFNajpY
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Total:
      - '5000'
      X-Ratelimit-Used-Currentrequest:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":35000028485,"name":"Testing folder","description":"This is testing
        folder","visibility":1,"created_at":"2017-09-26T04:44:18Z","updated_at":"2017-09-26T04:44:18Z"}]'
  recorded_at: Tue, 26 Sep 2017 04:47:13 GMT
recorded_with: VCR 3.0.3
