---
http_interactions:
- request:
    method: get
    uri: https://roomduck.freshdesk.com/api/v2/solutions/categories/76767676/folders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Vk1vT1RVZXl2ell4d0hNSEhvNkg6WA==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Freshdesk-Api-Version:
      - latest=v2; requested=v2
      X-Ratelimit-Remaining:
      - '990'
      X-Ratelimit-Total:
      - '1000'
      X-Ratelimit-Used-Currentrequest:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":27000053974,"name":"General","description":"","visibility":1,"created_at":"2017-09-20T13:58:42Z","updated_at":"2017-09-20T13:58:42Z"},{"id":27000053966,"name":"Commission
        and Charges","description":"Details on roomduck charges for each successfull
        bookings","visibility":1,"created_at":"2017-09-20T06:14:41Z","updated_at":"2017-09-20T06:14:41Z"},{"id":27000054003,"name":"Managing
        your Account","description":"","visibility":1,"created_at":"2017-09-22T17:27:09Z","updated_at":"2017-09-22T17:27:09Z"},{"id":27000054010,"name":"Services","description":"","visibility":1,"created_at":"2017-09-23T05:20:29Z","updated_at":"2017-09-23T05:20:29Z"}]'
  recorded_at: Mon, 25 Sep 2017 14:11:52 GMT
recorded_with: VCR 3.0.3
